p {
padding: 50px;
color: white;
text-align: justify;
font-family: "Lucida Console", Courier, monospace;
line-height: 1.8;
font-size: 18px;
background-color: #a83287
}

h1{
  text-align: center;
  border-style: dotted;
  border-width: thick;
  color: purple;
  border-color: #fcba03;
}

img{
  margin-left: 300px;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 5;
  width: 25%;
  background-color: #aa5555;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
li a {
  display: block;
  color: purple;
  padding: 8px 16px;
  text-alignment: center;
  font-size: 40px;
  text-decoration: none;
}


li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

iframe{
  border:none;
}
a:hover {
  color: purple;
}
