p {
color: purple;
text-align: center;
background-color: #8f3f57;

}
h1 {
  text-align: center;
  border-style: dotted;
  border-width: thick;
  color: purple;
  border-color: #fcba03;
}

h3{
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 5px red;
}

ul {
  list-style-type: none;
  margin: 5;
  padding: 5;
  width: 25%;
  background-color: #aa5555;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
li a {
  display: block;
  color: purple;
  padding: 8px 16px;
  text-alignment: center;
  font-size: 40px;
  text-decoration: none;
}


li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

iframe{
  border:none;
}
a:hover {
  color: purple;
}
